.glob {
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.titre {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.btn1 {
    float: left;
    width: 130px;
    background-color: #222222;
    border: 1px solid #008cba;
    border-radius: 5px;
    height: 45px;
    margin: 5px;
    padding-top: 10px;
    text-align: center;
}

.RouterLink {
    color: wheat;
    text-decoration: none;
}

.RouterLink:hover {
    color: wheat;
    text-decoration: none;
}

.tableau-style {
    margin: auto;
    width: 90%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 7px;
}

tbody tr, td, th {
    border: 2px solid #c2bcbc;
    text-align: left;
}

tbody tr:hover {
    background-color: #f1f1f1; /* Optionnel : pour mettre en évidence la ligne survolée */
}

.icons {
    display: flex;
    /* gap: 5px; */
}

.button-delete, .button-edit {
    background: none;
    border: none;
    cursor: pointer;
}


