.div-mesgs{
background-color: #fff;
width: 70%;
margin: auto;
box-shadow: rgba(209, 206, 206, 0.75) 0px 5px 15px;
border-radius: 10px;
}

.titre-h1{
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: rgba(209, 206, 206, 0.8) 0px 5px 15px;
    font-family: "Arial sans-serif";
    font-weight: 600;
}

.message textarea{
    display: flex;
    margin: auto;
    width: 95%;
    border-bottom: none;
    padding: 10px;
    margin-top: 20px;
}
.btn-send{
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
}

.messages-list {
    padding: 20px;
    
}
.delete-icon{
    display:block;
    background: none;
    margin-left: auto;
}