

.bodimg::before {
    content: "";
    background: rgba(130, 130, 130, 0.5); 
    background-image: url("/src/assets/img/image-de-font2.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

@media screen and (min-width: 320px) {
    .ReactPlayer {
        width: 100%; /* Ensure the video takes the full width */
    }

    .bodimg {
        position: relative;
        width: 203%;
    }

    .archsup {
        width: 40%;
        display: flex;
        justify-content: space-around;
    }

    .bootstrap {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .boots {
        width: 100%;
    }

    .ajoutetache {
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .bodimg {
        position: relative;
        width: 100%;
    }

    .archsup {
        width: 40%;
        display: flex;
        justify-content: space-around;
    }
   
    .vid {
        position: relative;
        left: 0;
    }

    .bootstrap {
        width: 80%;
        margin: 0 auto;
    }

    .ajoutetache {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    .bodimg {
        position: relative;
        width: 100%;
    }
    
    .bootstrap {
        width: 50%;
        margin: 0 auto;
    }

    .ajoutetache {
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }
}
