.bodimg {
    position: relative;
    width: 100%;
}

.bodimg::before {
    content: "";
    background: rgba(130, 130, 130, 0.5);
    background-image: url("/src/assets/img/image-de-font.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.ajoutetache {
    text-align: center;
    margin: 20px auto;
}

.archsup {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.bootstrap {
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .ReactPlayer {
        width: 100%; /* Full width for smaller screens */
    }
}

@media screen and (min-width: 768px) {
    .bootstrap {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    .bootstrap {
        width: 50%;
        margin: 0 auto;
    }
}
