
.bodimg {
    position: relative;
    width: 100%;
    position: relative;
    bottom: 25px;

}

.bodimg::before {
    content: "";
    background: rgba(167, 165, 165, 0.5);
    /* background-image: url("/src/assets/img/image-de-font.jpg"); */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 198%;
}

.mere-web{
    background: rgb(251, 251, 251);
    margin-top: 35px;

}

.icons{
    font-size: 45px;
}

.eye-pen{
    background: rgb(223, 216, 216);
    border-radius: 20px;
    height: 4rem;
    padding-top: 15px;
    /* width: 15rem; */
}
.eye-pen .fa-solid{
    font-size: 25px;
}

/* .btn-cours{
    background: rgb(45, 44, 44);
} */









@media screen and (min-width: 320px) {
    .bodyy::before {
        height: 105%;
    }
}




@media screen and (min-width: 768px) {
    .bodyy::before {
        height: 103%;
    }
}



@media screen and (min-width: 1024px) {
    .bodyy::before {
        height: 198%;
    }
}