.inpute{
    margin-top: 80px;
    }
    .form-control{
      width: 50%;
      margin: auto;
    }
    .btn{
      display: flex;
      justify-content: center;
      margin: 10px;
    }

    .NewTables1 {
        margin: auto;
        margin-top: -20px;
        padding: 1px;
        width: 60%;
        background: rgba(112, 107, 107, 0.75);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
      }
      
        .NewTables {
          margin: auto;
          margin-top: 5px;
          width: 60%;
          background: rgba(24, 20, 20, 0.75);
          box-sizing: border-box;
          box-shadow: 0 15px 25px rgba(0,0,0,.6);
          border-radius: 10px;
        }