.htmlcss{
    background: rgb(245, 245, 245);
}

.html{
    color: orange;
}

.css{
    color: rgb(25, 0, 255);
}

.htmlcss .fa-brands{
    font-size: 50px;
}

.js{
    color: yellow;
}

.react{
    color: aqua;
}


.php{
    color: rgb(110, 110, 110);
}

.laravel{
    color: red;
}






.retourn{
    width: 15%;
}





/* responsive */

@media screen and (min-width: 320px) {
    .retourn{
        width: 45%;
    }  
}

/* responsive */

@media screen and (min-width: 768px) {
    .programmation{
        width: 55%;
    }
    .retourn{
        width: 25%;
    }  


}


/* responsive */

@media screen and (min-width: 1024px) {
    .programmation{
        width: 55%;
    }
    .retourn{
        width: 15%;
    }  
}



